/*001*/
body {
    background-image: url(multimedia/fondo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-origin: content-box;

    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1em;
    margin: 50px;
    line-height: 1.2;
}

/*001*/
main {
	padding-top: 0.5em;
}

/*001*/
h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #a01515;
}

/*001*/
h1 {
    font-family: "Marker Felt", Impact, fantasy;
    font-size: 3em;
    padding: 6px 10px;
    text-transform: uppercase;
    text-align:  center;
    letter-spacing: 0.4em;
    border: #a01515 7px solid;
    border-radius: 30px;
    background-color: #e6e6e6;
    color: #a01515;
}

/*001*/
h2 {
    font-size: 1.80em;
    border-bottom: 0.05em solid #a01515;
}

/*001*/
h3 {
    font-style: italic;
    font-size: 1.5em;
}

/*001*/
h4 {
    font-size: 1.3em;
}

/*001*/
h5 {
    font-size: 1.2em;
}

/*001*/
h6 {
    font-size: 1.1em;
}

/*002*/
nav ul {
    overflow: hidden;
}

/*003*/
nav ul li {
    float: left;
    font-size: 1.10em;
    font-weight: bold;
    padding: 10px;
    overflow: auto;
}

/*003*/
nav li a {
    display: block;
    color: black;
    background: #e6e6e6;
    text-align: center;
    padding: 2px 6px;
    text-decoration: none;
    box-shadow: 2px 2px #a01515;
    transition: all 0.2s linear;
    font-size: 18px;
}

/*014*/
nav ul li a:hover, nav ul li a:focus {
    transform: scale(1.04);
    color: #e6e6e6;
    background: #a01515;
    cursor: pointer;
}

/*010*/
.selected {
    cursor: not-allowed; /*visual cursor*/
    opacity: 0.7;
}

/*011*/
.selected > a {
    color: #e6e6e6;
    background: #a01515;
    /*deshabilita la posibilidad de hacer click en él (evento=none)*/
    pointer-events: none; 
}

/*010*/
.validadores {
    margin-top: 40px;
}

/*001*/
table { 
    border: 1px solid white; 
	border-collapse: collapse;
    margin: 15px 0; 
}

/*001*/
td, th {
    border: 1px solid white; 
    padding: 4px 10px;
    text-align: center; 
}

/*001*/
th { 
    background: #a01515;
	color: white;
    font-weight: normal; 
}

/*001*/
figure {
    float: right;
}

/*002*/
figure figcaption {
    font-style: italic;
    color:grey;
}

/*001*/
img, video {
    border: #a01515 6px groove;
}

/*001*/
audio {
    margin-bottom: 10px;
}

/*100*/
#trailer {
    margin-top: 30px;
    float: none;
}

/*100*/
#jamesGandolfini {
    float: left;
}

/*011*/
img[title="HTML5 Válido"] {
    border:0;
}  

/*Para que no salgan en rojo los parrafos de las listas en curiosidades*/
/*103*/
#curiosidades ol li p {
    color: #e6e6e6; 
}

/*101*/
#curiosidades img {
    margin-top: 5px;
    margin-bottom: 20px;
}

/*#masInfo == footer[id="masInfo"]*/
/*111*/
#masInfo a:link, #masInfo a:visited {
    color: #e6e6e6;
}

/*111*/
#masInfo a:hover {
    color: #a01515;
}

/*001*/
ul, ol {
    color: #a01515;
}

/*001*/
strong {
    color: #a01515;
}