/*CUERPO: FONDO*/
/*001*/
body {
    /*BACKGROUND IMG*/
    background-image: url(multimedia/fondo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-origin: content-box;
    /*TEXTO*/
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1em;
    margin: 50px;
    line-height: 1.2;
}

/*001*/
main {
	padding-top: 0.5em;
}

/*ENCABEZADOS*/
/*a=0 b=0 c=1 -> 001*/
h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #a01515;
}

/*001*/
h1{
    font-family: "Marker Felt", Impact, fantasy;
    font-size: 3em;
    padding: 6px 10px;
    text-transform: uppercase;
    text-align:  center;
    letter-spacing: 0.4em;
    border: #a01515 7px solid;
    border-radius: 30px;
    background-color: lightgray;
    color: #a01515;
}

/*001*/
h2{
    font-size: 1.80em;
    border-bottom: 0.05em solid #a01515;
}

/*001*/
h3{
    font-style: italic;
    font-size: 1.5em;
}

/*001*/
h4{
    font-size: 1.3em;
}

/*001*/
h5{
    font-size: 1.20em;
}

/*001*/
h6{
    font-size: 1.1em;
}

/*TABLAS DE CONTENIDOS*/
/*002*/
nav ul {
    overflow: hidden;
}

/*003*/
nav ul li {
    float: left;
    font-size: 1.10em;
    font-weight: bold;
    padding: 10px;
    overflow: auto;
}

/*003*/
nav li a {
    display: block;
    color: black;
    background: #e6e6e6;
    text-align: center;
    padding: 2px 6px;
    text-decoration: none;
    box-shadow: 2px 2px #a01515;
    transition: all 0.2s linear;
    font-size: 18px;
}

/*028*/
nav ul li a:hover, nav ul li a:focus {
    transform: scale(1.04);
    color:white;
    background: #a01515;
    cursor: pointer;
}

/*010*/
.selected {
    cursor: not-allowed; /*visual cursor*/
    opacity: 0.7;
}

/*011*/
.selected > a {
    color: white;
    background: #a01515;
    pointer-events: none; /*deshabilita la posibilidad de hacer click en él*/
}

/*001*/
footer {
    margin-top: 40px;
}

/*001*/
table { 
    border: 1px solid white; 
	border-collapse: collapse;
    margin: 15px 0; 
}

/*001*/
td, th {
    border: 1px solid white; 
    padding: 4px 10px;
    text-align: center; 
}

/*001*/
th { 
    background: #a01515;
	color: white;
    font-weight: normal; 
}

/*001*/
img, video {
    border: #a01515 6px groove;
}

/*001*/
video {
    margin-top: 10px;
}

/*001*/
audio {
    margin-bottom: 10px;
}

/*LOGO VALIDADOR (sin borde)*/
/*011*/
img[title="HTML5 Válido"] {
    border:0;
}  

/*Para que no salgan en rojo los parrafos de las listas en curiosidades*/
/*014*/
section[id = "curiosidades"] ol li p {
    color: #e6e6e6; 
}

/*012*/
section[id="curiosidades"] img {
    margin-top: 5px;
    margin-bottom: 20px;
}

/*022*/
footer[id="masInfo"] a:link, footer[id="masInfo"] a:visited, footer[id="masInfo"] a:hover {
    color: #e6e6e6;
}

/*002*/
li > img {
    left: 35%;
}

/*001*/
ul, ol {
    color: #a01515;
}

/*002*/
p > strong {
    color: #a01515;
}